/* :root {
  --primaty-color-heading: #2e2f42;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.contact {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1188px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
/* ======================COMPONENTS======================  */
section {
  outline: 1px solid tomato;
}

.heading {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.heading-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  background-color: #4d5ae5;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.img {
  margin-bottom: 32px;
}

/*====================== HEADER ======================  */
.header-nav {
  padding-top: 24px;
}

.logo-site {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.part-logo {
  color: #2e2f42;
}
.link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
/*====================== ADDRESS ====================== */
.link-item:focus,
.link-item:hover {
  color: #404bbf;
}
.contact-item:focus,
.contact-item:hover {
  color: #404bbf;
}
.contact {
  font-style: normal;
}
.contact-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
/*====================== HERO BANER ====================== */
.hero {
  background-color: #2e2f42;
}

.hero-text {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-top: 188px;
  margin-bottom: 48px;
}

.hero-btn {
  margin-bottom: 118px;
}

/*====================== SOLUTION ====================== */
.solution-list {
  padding-bottom: 120px;
  padding-top: 120px;
}

/*====================== WHAT ARE WE DOING ====================== */
.heading-proj {
  margin-bottom: 72px;
}

/*====================== TEAM ====================== */
.heading-team {
  margin-bottom: 72px;
  padding-top: 120px;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  padding-bottom: 120px;
}

.team-item {
  background-color: #ffffff;
}

/*====================== PORTFOLIO ====================== */
.portfolio-btn {
  background-color: #f4f4fd;
  color: #4d5ae5;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
}

.btn-list {
  padding-top: 96px;
  margin-bottom: 72px;
}

.portfolio-list {
  padding-bottom: 120px;
}
/*====================== FOOTER  ======================*/
.footer {
  background-color: #2e2f42;
  height: 312px;
  padding-top: 100px;
}

.footer-link {
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  padding-top: 16px;
}
