/* :root {
  --primaty-color-heading: #2e2f42;
} */

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.contact {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
/* ======================COMPONENTS======================  */
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.heading-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/*====================== LOGO ======================  */
.logo-site {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.part-logo {
  color: #2e2f42;
}
/*====================== PAGES ON SITE ====================== */
.link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
/*====================== CONTACTS ====================== */
.link-item:focus,
.link-item:hover {
  color: #404bbf;
}
.contact-item:focus,
.contact-item:hover {
  color: #404bbf;
}
.contact {
  font-style: normal;
}
.contact-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
/*====================== HERO BANER ====================== */
.hero {
  background-color: #2e2f42;
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*====================== SOLUTION ====================== */

/*====================== WHAT ARE WE DOING ====================== */
.team {
  background-color: #f4f4fd;
}
.team-list {
  background-color: #ffffff;
}

/*====================== PORTFOLIO ====================== */
.portfolio-btn {
  background-color: #f4f4fd;
  color: #4d5ae5;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
}
/*====================== FOOTER  ======================*/
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
